* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* INIZIO HEADER */

/* FINE HEADER */
/* INIZIO MAIN */
/* FINE MAIN */
/* INIZIO FOOTER */
/* FINE FOOTER */
/* INIZIO LAYOUT */
.padding-x-12 {
    padding: 0 12px;
}
.padding-0 {
    padding: 0;
}
/* FINE LAYOUT */
/* INIZIO GENERAL */
.background-blue {
    background-color: rgb(44, 62, 80);
}
.background-light-blue {
    background-color: rgb(26, 188, 156);
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
/* FINE GENERAL */
/* DA CANCELLARE */
header {
    height: 100px;
}
header .col-6 {
    background-color: aqua;
    height: 80px;
}
.jumbotron {
    height: 400px;
}
.jumbotron .col-12 {
    height: 300px;
    background-color: rebeccapurple;
}
.portfolio .container-fluid .col {
    height: 150px;
    background-color: green;
    border: 2px solid black;
}
/* DA CANCELLARE */
/* INIZIO MEDIA */
@media screen and (min-width: 1200px) {
    .justify-responsive {
        justify-content: space-around;
    }
}
/* FINE MEDIA */